*{
  margin: 0;
  padding: 2px;
  font-size: 10px;
  list-style-type:none;
}

/*9. Usar :root para definir una variable de color y aplicar*/
/*21.Define una variable global para color primario y aplícala a varios elementos*/
:root,a {
  background: #d95f94;
background: radial-gradient(circle, rgb(80, 9, 40) 0%,
 rgb(35, 99, 172) 100%);
 color: #fff;
 --color-dark: rgb(34, 32, 32, 0.9) ;
 
  --color-fondo: #212c6b;
  --color-texto: #ffffff;
  --color-boton: #50061f;

}

div {
  padding: 5px 5px;
  margin-top: 70px;
}

/*1.colocar hover en boton*/
.enviar:hover {
  background-color: black;
  display: inline-block;
  color: #fff;

}

.enviar {
  margin-top: 8px;
  border-radius: 5px ;
  color: black;
    cursor: pointer;

}

/*2. colocar :target para mostrar un mensaje oculto*/
.mensaje {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px ;

}

.bienvenida {
  margin-top: 0;
  font-size: 30px;
}

#oculto:target {
  opacity:0;
  transition: 0,5s;
}

/*3.Dar un estilo especial al primer hijo :first-child*/
div li:first-child {
  display: inline-block;
  color: #fff;
  background-color: rgb(11, 11, 150);
  
}

.formulario {
  margin-top: 10px;
  padding: 10px 10px;
  border:  2px red solid;
  border-radius: 10px;
  
}

/*4. formularios no validos con:invalid*/
input {
  display: block;
  border-radius: 5px;
}

input:invalid {
  border: rgb(190, 11, 11) solid;
}

input:valid {
  border: rgb(8, 104, 16) solid;
}

/*5. Resaltar campo :type*/
input[type="email"] {
  background-color: rgb(176, 176, 231);
  color: #fff;
}

/*6. formulario donde el campo activo cambie de borde con :focus*/
.formulario input:focus {
  outline: none;
  border: 2px rgb(7, 229, 236) solid;


}
/*7. estilizar elementos unicos de su tipo con :only-of-type*/
form :only-of-type {
  color: rgb(247, 5, 5);
  border-radius: 4px;
  padding: 3px 3px;
}

/*8. aplicar estilo solo al primer parrafo de una seccion :first-of-type*/
label:first-of-type {
  color: rgb(188, 145, 229);
}

/*10. etiquetas semanticas que cambie su color al pasar sobre cada link.*/
nav a:hover {
  color: aqua;

 
}


/*11. a;adir un icono antes de cada titulo con ::before*/

h1::before {
  content: " ♣" ;
  display: inline-block;
  color: rgb(255, 11, 11);
  font-size: 15px;
}

/*12. linea decorativa despues de cada parrafo en este caso lista ::after*/
li::after {
  content: "";
  display: inline-block;
  width: 40%;                 
  height: 1px;               
  background: linear-gradient(90deg, #f7006b, #05448d);   
  margin-left: 10px;
}

.sombra {
  position: relative;
  background-color: #104c91;
  color: white;
  border: none;
  padding: 4px 4px;
  font-size: 10px;
  border-radius: 6px;
  cursor: pointer;
}

/*13. boton usando efecto de sombra con ::after*/
.sombra::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 6px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  z-index: -1;
}

/*14. anadir comillas antes y despues de bloque de cita*/
.comilla {
  font-style: italic;
  font-size: 15px;
  color: #fff;
  display: inline-flex;          
  align-items: center;                               
}

.comilla::before {
  content: "“";
  font-size: 25px;
  color: #becfe4;
}

.comilla::after {
  content: "”";
  font-size: 25px;
  color: #becfe4;
}

/*15.Diseña un input que tenga un ícono dentro usando ::before.*/
.telefono {
  position: relative;
  width: 200px;
}
.telefono::before {
  content: "♦";
  position: absolute;
  left: 15px;
  top: 3px;
  font-size:  18px;
  color: #b9b8e0;
}

.telefono input {
  width: 100%;
  padding: 1px 20px;
  border:  1px solid red;
  font-size:  13px;
  color: rgb(0, 0, 0);
}


/*16.Coloca una imagen de forma relative y mueve su posición sin alterar el flujo.*/
.caotico {
  position: relative;  
  top: 5px;          
  left: 10px;         
  width: 200px;        
  border-radius: 5px; 

}

/*17.Crea una tarjeta que contenga un botón de eliminar con absolute*/
.tarjeta {
  position: relative;        
  width: 200px;
  background-color: #064b7c;
  border: 2px solid #59a5e4;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
}

.eliminar {
  position: absolute;         
  top: 10px;
  right: 10px;
  background-color: #df5c52;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.eliminar:hover {
  background-color: #ff0000;
}

/*18.Haz una barra de navegación fija en la parte superior (fixed)*/
.navegacion  {
  position: fixed;
  list-style: none;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #880a40;
  color: white;
  padding: 12px 10px;
  z-index: 1;

}

a {
  font-size: 20px;
  padding: px;
}

.navegacion  li{
  display: inline-block;
}

/*19.Apila dos cajas usando z-index para controlar qué caja aparece arriba, cada caja
debe tener un color de fondo diferente.*/
.contenedor-caja{
  position: relative;
  height: 140px;
}

.box {
  position: absolute;
  width: 100px;
  height: 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  font-size: 15px;
}

.caja1 {
  background-color: rgb(68, 0, 255);
  left: 80px;
  bottom: 50px;
  z-index: 2;
}

.caja2 {
  background-color: rgb(255, 0, 0);
  left: 130px;  
  top: -15px; 
  z-index: 1;
}


/*20. Diseña una card que se centre usando position y transform*/
.card {
  position: relative;  
  margin-top: 100px;
  left: 20%;                               
  transform: translate(-50%, -50%); 
  background-color: rgba(70, 4, 4, 0.1);
  padding: 10px;
  width: 200px;
  text-align: center;
  border-radius: 10px;;
  border: 2px solid rgba(240, 234, 234, 0.2);
}

.card h2 {
  margin-bottom: 7px;
  font-size: 15px;
  color: #fff;
}

.card {
  font-size: 12px;
  color: #e0e0e0;
  margin-bottom: 12px;
}

/*22.Crea un tema oscuro cambiando variables en :root*/
.card-dark {
    position: relative;
    left: 20%;
    transform: translateX(-50%);
    width: 150px;
    padding: 10px;
    background-color: var(--color-dark);
    border-radius: 8px;
    margin-top: 10px;
    color: rgb(190, 188, 188);
}


/* 23. Usa una variable con valor fallback si no existe otra definida */
.card-fallback {
  position: relative;
  left: 20%;
  transform: translateX(-50%);
  width: 150px;
  padding: 10px;
  border-radius: 8px;

  background-color: var(--color-fondo1, #118cb1);

  color: var(--color-texto, #fff);

  text-align: center;
  margin-top: 15px;
}

/* 24.Define variables dentro de un scope local dentro de .card*/
.card-scope {

  background-color: var(--color-fondo);
  color: var(--color-texto);
  width: 200px;
  margin: 20px auto;
  padding: 16px;
  border-radius: 10px;
  text-align: center;
}

.card-scope button {
  background-color: var(--color-boton);
  color: var(--color-texto);
  border: none;
  border-radius: 6px;
  padding: 8px 12px;
  cursor: pointer;
  margin-top: 8px;
}

